.table-container {
  margin: 20px;
  max-width: 800px;
}

.mat-table {
  width: 100%;
  border-collapse: separate; /* Assegura que o espaçamento das bordas seja aplicado */
  border-spacing: 0 8px; /* Adiciona espaço entre as linhas */
}

.mat-header-cell {
  background-color: #f1f1f1; /* Cor de fundo para cabeçalho */
  font-weight: bold; /* Deixa o texto mais forte */
}

.mat-cell {
  padding: 16px; /* Espaçamento interno nas células */
  background-color: #ffffff; /* Cor de fundo para as células */
}

.mat-cell:hover {
  background-color: #f9f9f9; /* Efeito de hover para as células */
}

.total-container {
  margin-top: 20px; /* Espaçamento acima do total */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold; /* Destaca o texto */
}